<table>
  <tr>
    <td>Passphrase:</td>
    <td><input type='password' id='secret'></td>
  </tr>
  <tr>
    <td>Website Name:</td>
    <td><input type='text' id='key'></td>
  </tr>
  <tr>
    <td>UserID:</td>
    <td><input type='text' id='username'></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type='text' id='password'></td>
  </tr>
  <tr>
    <td>Notes:</td>
    <td><textarea rows=3 cols=20 id='notes'></textarea></td>
  </tr>
  <tr>
    <td>
      <div class='orange_button'>
        <a href="#store">Save</a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class='orange_button'>        
        <a href='#list'>Back to List</a>
      </div>  
    </td>
  </tr>
</table>

