<table>
  <tr>
    <td>Amazon Key:</td>
    <td><input type='text' id='key'></td>
  </tr>
  <tr>
    <td>Amazon Secret:</td>
    <td><input type='text' id='secret'></td>
  </tr>
  <tr>
    <td>Amazon Bucket:</td>
    <td><input type='text' id='bucket'></td>
  </tr>
  <tr>
    <td>
      <div class='orange_button'>
        <a href='#store-settings'>Save</a>
      </div>
    </td>
  </tr>
  <tr>  
    <td>
      <div class='orange_button'>
        <a href='#' onclick="$('input#secret').val('');Finch.navigate('list');">Cancel</a>
      </div>
    </td>
  </tr>
</table>
